.product-list-container {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.filter-section {
  flex: 1;
  max-width: 300px;
}

.toggle-filter {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.toggle-filter:hover {
  text-decoration: underline;
}

.filter-box {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item p {
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.filter-options {
  margin-top: 8px;
  padding-left: 16px;
}

.filter-options label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}

.product-section {
  flex: 3;
}

.filter-bar {
  margin-bottom: 16px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}


@media (max-width: 768px) {
  .product-list-container {
    flex-direction: column;
    padding: 8px;
  }

  .filter-section {
    max-width: 250px;
  }

  .product-section {
    flex: 1;
  }

  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .filtersectioncontiner {
    display: none;
  }
}

@media (max-width: 480px) {
  .product-list-container {
    padding: 8px;
  }

  .filter-bar {
    flex-direction: column;
    align-items: start;
  }

  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .filter-bar select {
    width: 100%;
  }
  .filtersectioncontiner {
    display: none;
  }
}
