.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 8px;
  }
  
  .product-card h3 {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .product-card p {
    font-size: 14px;
    color: #888;
  }
  
  .product-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }
  
  .favourite-wishlist-heart{
    cursor: pointer;
    font-size: 1.2rem;
    color: red;
  }
  .productcardsecond-div{
    display:flex;
    justify-content: end;
  }